.cpt-carousel {
  padding-top: 6rem;
  padding-bottom: 2.188rem;
  overflow: hidden;
}

.cpt-carousel.home-page.post-type {
  .container {
    padding-left: 120px;

    .cpt-carousel-wrapper-post {
      .slick-next,
      .slick-prev {
        top: 18%;
      }
      .slick-next {
        left: 0;
        transform: translate(-50%, 50%);
      }
    }
    .slick-slider .slick-list {
      width: initial;
    }
  }
}

@media (max-width: 1200px) {
  .cpt-carousel.home-page.post-type {
    .container {
      padding-left: 0;
    }
  }
}

@media (max-width: 991px) {
  .cpt-carousel.home-page.post-type {
    .container {
      .cpt-carousel-wrapper-post {
        .slick-next {
          left: -20px;
          transform: translate(-50%, 50%);
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .cpt-carousel.home-page.post-type {
    .container {
      .block-header {
        padding-left: 1rem;
      }
      .cpt-carousel-wrapper-post {
        .slick-next,
        .slick-prev {
          top: -40px;
        }
        .slick-next {
          left: initial;
          transform: translate(-50%, -100%);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .cpt-carousel.home-page.post-type {
    .container {
      .cpt-carousel-wrapper-post {
        .slick-prev {
          right: 0;
          transform: translate(-50%, -150%);
        }
        .slick-next {
          right: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.cpt-carousel .block-header {
  margin-bottom: 1.5rem;
  width: 100%;
}
.cpt-carousel .block-header .left-block .subtitle {
  color: #b7cd00;
  font-weight: 600;
}
.cpt-carousel .block-header .left-block .title {
  font-weight: 600;
}
.cpt-carousel.post-type .block-header .subtitle {
  color: #006633;
}
.cpt-carousel .slick-track {
  display: flex;
  gap: 0.75rem;
}
.cpt-carousel .slick-track .single-carousel-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 341px;
}
.cpt-carousel .slick-track .single-carousel-item .taxonomy-btns {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
  display: flex;
}
.cpt-carousel .single-carousel-item:hover img {
  transform: scale(1.035);
}
.cpt-carousel .slick-track .single-carousel-item img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.cpt-carousel .slick-track .single-carousel-item h4 {
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 75%;
  font-size: 1.5rem;
  z-index: 2;
}
.cpt-carousel .slick-track .single-blog-carousel-item a {
  display: flex;
  flex-direction: column;
  height: 578px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.cpt-carousel .slick-track .single-blog-carousel-item a img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 223px;
}
.cpt-carousel .slick-track .single-blog-carousel-item a h5.blog-title {
  font-weight: 600;
  margin: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 10%;
}
.cpt-carousel .slick-track .single-blog-carousel-item a .blog-excerpt {
  color: #4c6078;
  margin: 1.8rem;
  min-height: 15%;
}
.cpt-carousel .slick-track .single-blog-carousel-item a:hover .more-info {
  color: #b7cd00;
}
.cpt-carousel
  .slick-track
  .single-blog-carousel-item
  a:hover
  .more-info
  svg
  path {
  stroke: #b7cd00;
}
.cpt-carousel .slick-track .single-blog-carousel-item a .more-info {
  font-family: "Mont", sans_serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #203669;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f5f6f7;
  padding: 1.3rem 1.6rem;
  border-radius: 10px;
  transition: all 0.2s;
}
.cpt-carousel .slick-track .single-blog-carousel-item a .more-info svg path {
  transition: stroke 0.2s;
  stroke: #203669;
}
.cpt-carousel .cpt-carousel-wrapper-post .slick-prev,
.cpt-carousel .cpt-carousel-wrapper-post .slick-next {
  width: 48px;
  height: 48px;
}
.cpt-carousel .cpt-carousel-wrapper-post .slick-prev {
  left: 0;
  transform: translate(-50%, -100%);
}
.cpt-carousel .cpt-carousel-wrapper-post .slick-list {
  padding-bottom: 2rem;
}
.cpt-carousel .cpt-carousel-wrapper-post .slick-list .slick-track {
  gap: 0;
}
.cpt-carousel
  .cpt-carousel-wrapper-post
  .slick-list
  .slick-track
  .single-blog-carousel-item {
  padding: 0 7px;
}
.cpt-carousel .cpt-carousel-wrapper-post .slick-next {
  left: 100%;
  transform: translate(-50%, -100%);
}
.cpt-carousel.indent-left .block-header,
.cpt-carousel.indent-left .slick-list {
  /* margin-left: 200px; */
}
.cpt-carousel.right-edge .slick-list {
  margin-right: calc((100% - 100vw) / 2 + 8px);
}
@media only screen and (min-width: 769px) {
  .cpt-carousel .block-header .right-block {
    align-self: flex-end;
  }
}
@media only screen and (max-width: 768px) {
  .cpt-carousel {
    padding-top: 7rem;
  }
  .cpt-carousel .block-header .right-block {
    display: none;
  }
  .cpt-carousel .slick-slider {
    padding: 0 0.5rem 0 0.25rem;
  }
  .cpt-carousel .slick-slider .slick-arrow {
    width: 48px;
    height: 48px;
  }
  .cpt-carousel .slick-slider .slick-arrow.slick-prev {
    left: 0;
  }
  .cpt-carousel .slick-slider .slick-arrow.slick-next {
    right: 0;
  }
  .cpt-carousel .all-posts a {
    font-size: 0.875rem;
  }
  .cpt-carousel.post-type .slick-slider button.slick-prev {
    right: 80px;
    left: inherit;
    top: -50px;
  }
  .cpt-carousel.post-type .slick-slider button.slick-next {
    right: 10px;
    left: inherit;
    top: -50px;
  }
  .cpt-carousel.projecten-type .all-posts {
    margin-top: 1rem;
  }
  .cpt-carousel.indent-left .block-header,
  .cpt-carousel.indent-left .slick-list {
    margin-left: 0;
  }
}

.slick-slider {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.slick-slider .slick-list {
  width: 100%;
}
